.vscode
test.py
for_exampel
tgbot
tgBot
bot_nog/handlers/user_privat_test_1.py
bot_nog/handlers/user_privat_test_2.py
bot_nog/handlers/user_privat_test_3.py
bot_nog/kbds/inline_text.py
bot_nog/.env
base_nog.db
